html {
    box-sizing: border-box;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    color: $color-text-gray;
    font-family: "Roboto", sans-serif;
    background-color: $color-white;
}


.head {
    border-bottom: 1px solid #ECECEC;
}


.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}


.head__container {
    display: flex;
    align-items: center;
    max-height: 80px;
}

    
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    &--advantages {
        padding-bottom: 0;
    }
    &--what-we-do {
        padding-top: 50px;
    }
    &--team {
        background-color: $color-bg;
    }
}


.section__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text-black;
    padding-bottom: 50px;
}


.footer {
    background-color: $color-bg-footer;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}