.footer__contacts {
    display: flex;
    gap: 70px;
    align-items: baseline;
}


.address {
    font-style: normal;
    padding-top: 20px;
}


.address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.address-list__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-text-footer-contact;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: $color-blue;
    }
}


.address-list__link--white {
    color: $color-white;
}


.join__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 20px;
}