.join {
    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color-white;
        padding-bottom: 20px;
        text-align: center;
    }
}