.signing {
    margin-right: 0;
}


.signing__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 20px;
}


.signing__container {
    display: flex;
    min-height: 50px;
}


.signing__button {
    gap: 10px;        
    margin-left: 12px;
}


.signing__icon {
    fill: currentColor;
    color: &color-white;
}


.signing__email {
    height: 50px;
    width: 358px;
    color: &color-white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $color-bg-footer;
    padding: 15px 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


.signing__email:focus,
.signing__email:hover {
    border: 1px solid $color-blue;
    outline: none;
}


.signing__email::placeholder {
    color: $color-text-footer-contact;
    line-height: 1.25;
    letter-spacing: 0.03em;
}