    $color-text-gray: #757575;
    $color-text-black: #212121;
    $color-white: #FFFFFF;
    $color-blue: #2196F3;
    $color-bg: #F5F4FA;
    $color-bg-footer: #2F303A;
    $color-text-footer-contact: rgba(255, 255, 255, 0.6);
    $color-btn-darkblue: #188CE8;
    $color-fill: #AFB1B8;
    $color-bg-hero: #C4C4C4;
    $color-bg-img: rgba(47, 48, 58, 0.8);
    $color-bg-modal: rgba(0, 0, 0, 0.2);
    $color-placeholder: rgba(117, 117, 117, 0.5);
    $color-bg-icon-footer:rgba(255, 255, 255, 0.1);