.footer {
    background-color: $color-bg-footer;
    padding-top: 60px;
    padding-bottom: 60px;
        
    &__container {
        
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }
        
    &__contacts {
      
        text-align: center;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 165px;
        }
            
        @media screen and (min-width: 1200px) {
            gap: 70px;
            text-align:left;
        }
    }

    &__nav {
        @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
    }
}