.section {
    padding-top: 60px;
    padding-bottom: 60px;

        @media screen and (min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;      

            &--advantages {
            padding-bottom: 0;
            }
    }
 
    &--what-we-do {
        display: none;
        padding-top: 50px;
        @media screen and (min-width: 1200px){
            display: block;            
        }
    }

    &--team {
        background-color: $color-bg;
    }

    &__header {
        font-size: 28px;
        line-height: 1.17;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-text-black;
        padding-bottom: 50px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;
        }
    }

    &--hero {
        max-width: 1600px;
        padding-top: 118px;
        padding-bottom: 118px;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-bg-hero;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img-480.jpg);
        @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-960.jpg);
        }

        @media screen and (min-width: 768px) {       
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-768.jpg);
            @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-1536.jpg);
            }
            
        }

        @media screen and (min-width: 1200px) {     
            padding-top: 200px;
            padding-bottom: 200px;  
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-1600.jpg);
            @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-3200.jpg);
            }
        }
    }

    &__title {
        color: $color-white;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
    }

    &__title--bottom {
        margin-bottom: 30px;
    }
}